# ------------------------------------------------------------------------------
#  Git configuration file for global (per-user) options
#
#  You should set your name and email address in the corresponding options at
#  this file's user section, and afterwards save it in your home directory.
#
#  See Git documentation (https://git-scm.com/docs/git-config#FILES) for
#  further info.
#
#  Author: Chema Barcala (https://github.com/chebacca-eu)
# ------------------------------------------------------------------------------


[user]
    email = USER_EMAIL
    name = USER_NAME

[core]
    safecrlf = true
    autocrlf = input
    editor = vim
    pager = less
    whitespace = tab-in-indent,tabwidth=4
